@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}



.main {
  @apply basis-10/12 p-3 bg-slate-100;
}

.sidebar {
  height: calc(100vh - 3.5rem);
  @apply border-r basis-2/12 flex bg-slate-100;
}

.icon {
  @apply flex gap-3 items-center rounded px-4 py-2;
}

.icon:hover {
  @apply bg-gray-100;
}
